 
<%= form_for @comment, remote: true do |f| %>
  <div class="field">
    <%= f.label :comment %><br />
    <%= f.text_area :comment %> 
    <%= f.hidden_field :commentable_id %>
    <%= f.hidden_field :commentable_type %>
  </div>
  <div class="actions">
    <%= f.submit :class=> "btn", :id => 'create-comment' %>
  </div>
 <% end %>