<div class="page-header">
  <%= link_to new_databox_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Databox
  <% end %>
  <h1>Listing databoxes</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Title</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @databoxes) do |databox| %>
            <td><%= databox.title %></td>
            <td><%= link_to 'Show', databox %></td>
        <td><%= link_to 'Edit', edit_databox_path(databox) %></td>
        <td><%= link_to 'Destroy', databox, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
