<div class="container">
	<div class="desc1">
		<a class="attention">HALLEY</a>
	
<%= form_for("user", :url => new_user_session_path) do |f| %>
  <%= f.text_field :email, :class=>"form-control", :autocomplete=>"off", :placeholder=>"E-mail" %>
  <%= f.password_field :password, :class=>"form-control", :placeholder=>"Password" %>
  <!--
  <%= f.check_box :remember_me %>
  <%= f.label :remember_me %>
-->
  <%= f.submit 'Go', :class=>"btn btn-default" %>
<% end %>
</div>
</div>
	
<div class="desc2">
	<div class="container">
		<div class="row">
			<div class="col-xs-5">
				<%= image_tag("halley_comet.jpg", :class => "img-circle img-thumbnail", :size=>"200x200") %>	
			</div>
			<div class="col-xs-7">
				<p>TEST</p>
			</div>
		</div>
	</div>
</div>
