<div class="container1">
	<div class="desc1">
		<br><br><br><br><br>
		<a class="attention">HALLEY</a>

		<% if !user_signed_in? %>
			<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => "regist"} ) do |f| %>
			  <%= f.text_field :email, :class=>"form-control", :autocomplete=>"off", :placeholder=>"E-mail" %>
			  <%= f.password_field :password, :class=>"form-control", :placeholder=>"Password" %>
			  <%= button_tag(type: 'submit', class: "btn btn-fire btn-lg") do %>
			 	<span class="glyphicon glyphicon-fire"></span>
			  <% end %>
			    <% if devise_mapping.rememberable? -%>
 				   <div><%= f.check_box :remember_me, :checked => true, :hidden => true %></div>
  				<% end -%>
			<% end %>
		<% end %>
	</div>
</div>


<%= render "devise/shared/links" %>
